<div class="col">
  <div class="card bg-light mb-3"" style=" min-width: 22rem;">

    <div class="card-header bg-white"> <b>
    Reset Password
      </b>
    </div>

  <br />
  <%= form_tag password_resets_path, method: :post do %>
  <%= label_tag :email %><br />
  <%= text_field_tag :email, params[:email] %><br />
  <%= submit_tag "Reset password" %>
  <% end %>
  </div>
  </div>